<ul class="roaster p0">
	<li class="chatheader active-chat-header p0 border-rad">
		<div class="col-md-12" ng-show="!activeWindows.length">No Users 
		</div>
        <div class="col-md-12" ng-show="activeWindows.length">Active Chats ...
        </div>
	</li>
    <li ng-repeat="user in contact" ng-click="openchatview(user)" class="row">
    	<div class="col-md-9 ml5" ng-class="activeChatUser == user.id ? 'active' : '' " >{{ user.name }}
    		<br/>
    		<span class='italicFont' ng-if="user.chatState=='closed'">left the conversation</span>
    	</div>
    	<div class="circle col-md-3 ml7" ng-if="getUnReadMessageCount(user) && user.chatState !='closed'" ng-class="activeChatUser == user.id ? 'green' : '' " >{{getUnReadMessageCount(user)}}</div>
        <div class="circle col-md-3 ml7 red" ng-if="user.chatState =='closed'" ng-click="closeChatFromLeftNav(user)">X</div>
    </li>
</ul>
