<div class="col-md-3">
	<div class="col-md-12" style="padding:0px;">
		<ul class="chatUL">
			
			<li class="chatheader" ng-click="setFocus()" ng-class="activeChatUser == chatData.userId ? 'active-chat-header' : 'inactive-chat-header'">
				<div>
					<div class="col-md-1"></div>
					<div class="col-md-9  h11" > {{userName}}</div>
					<div class="col-md-1 fa fa-times-circle closeIcon" ng-click="closeUserChat()"></div>
				</div>
			</li>
			<li class="productdetail" ng-click="setFocus()">
				<div class="col-md-4"><img ng-src={{product.imageUrl}} class="img"></img></div>
				<div class="col-md-8" style="padding:10px 0 0 0;">
					<span class="detail">{{product.description}}</span>
					<div class="col-md-4 price">
						<span>Price</span>
						<div class="priceDiv"> Rs. {{product.price}}</div>
					</div>
					<div class="col-md-4 disc">
						<span>Discount</span>
						<div class="discDiv"> None</div>
					</div>
				</div>
			</li>
			<li class="chatArea" ng-show="!showPromo" ng-click="setFocus()" chat-scroll-down>
				<div style="margin-bottom:10px;">

					<div class='chat-message fr reporter bgblue', ng-repeat='message in messages', ng-class="message.sender== chatData.userId ? 'user-mesg' : 'agent-mesg'">
	                	<div class='chat-name' ng-if="!message.isProductDetails && !message.isCloseChatMesg">
	                		{{message.txt}}
	            		</div>
	            		<div class='leftConversation' ng-if="message.isCloseChatMesg">
	                		User left the conversation
	            		</div>

	            			<span style='float:right;font-size:9px'>{{parsedDate(message.sent_on)}}</span>
        			</div>
    			<!-- <div class="linkBtn">
    				<a > show new messages</a>
    			</div> -->
				
			</li>
			<li class="chatArea" ng-show="showPromo" >
					<div style="margin-bottom:10px;" align="center">
						<ul class="col-md-12">
							<li class="chatheader active-chat-header">
								<div align="center" class="col-md-10">
									Create Promotion Code
								</div>
								<i class="col-md-2 closeIcon fa fa-times-circle" ng-click="openPromoWindow()"></i>
							</li>
							<li class="promoArea">
								<ul class="col-md-12 pt10">
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Discount Value</label>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" value="percentage" ng-click="setPromoType('percentage')"/>
											<label>Percentage</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="width65" ng-model="percentCap">
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" value="absolute" ng-click="setPromoType('absolute')"/>
											<label>Amount</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="width65" ng-model="absoluteCap"/>
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Upper Limit</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="width65" ng-model="capLimit"/>
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Minimum Quantity</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="width65" ng-model="qty"/>
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Validity</label>
										</div>
										<div class="col-md-5 padd mt3">
											<p>
												<input type="text" class="width65" ng-model="validDate" datepicker-popup="{{format}}" min-date="minDate" ng-required="true" close-text="Close" datepicker-options="dateOptions" is-open="opened" show-weeks="false">
											</p>
											
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="checkbox" ng-model="isFreeShiping" ng-click="setFreeShip()">
											<label>Free Shipping</label>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li>
										<div class="col-md-12 mt10" align="center">
											<div class="promoBtn" ng-click="savePromo()">
						        				<a > Generate code</a>
						        			</div>
										</div>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
			</li>
			<li>
				<div class="chatText col-md-12">
					<i class="fa fa-inr col-md-1 promolink" ng-click="openPromoWindow()"></i>
					<!-- <span class="promolink" ng-click="openPromoWindow()">Code</span> -->
					<textarea type="text" placehoder="send message" class="chatTextArea col-md-11" ng-enter="submitMessage()" ng-model="agentMessage" ng-focus="setFocus()"></textarea>
				</div>
			</li>
		</ul>
	</div>
</div>