<div class="col-md-3">
	<div class="col-md-12" style="padding:0px;">
		<ul class="chatUL">
			<li class="chatheader active1">
				<div>
					<div class="col-md-1"></div>
					<div class="col-md-6  h11" > Guest AZ01</div>
					<div class="col-md-1 "></div>
				</div>
			</li>
			<li class="productdetail">
				<div class="col-md-4"><img src="" class="img"></img></div>
				<div class="col-md-8" style="padding:10px 0 0 0;">
					<span class="detail">Panasonic RP-HJ201E-K In-the-ear Weired Headphone</span>
					<div class="col-md-4 price">
						<span>Price</span>
						<div class="priceDiv"> Rs. 95.45</div>
					</div>
					<div class="col-md-4 disc">
						<span>Discount</span>
						<div class="discDiv"> None</div>
					</div>
				</div>
			</li>
			<li class="chatArea" >
				<div style="margin-bottom:10px;">

					<div class='chat-message fr reporter bgblue me', ng-repeat='message in chat'>
                	<div class='chat-name'>
                		{{message.txt}}
            		</div>
            			<span style='float:right;font-size:9px'>{{message.sent_on}}</span>
        			</div>

        			<!-- <div class='chat-message fr reporter bgblue me', ng-repeat='message in chat', ng-class="message.sender== contact ? 'me' : 'then'">
                	<div class='chat-name'>
                		{{message.txt}}
            		</div>
            			<span style='float:right;font-size:9px'>{{message.sent_on}}</span>
        			</div> -->


                	
            	
    			<div class="linkBtn">
    				<a > show new messages</a>
    			</div>
				
			</li>
			<li>
				<div class="chatText">
					<textarea type="text" placehoder="send message" class="txtArea" ng-enter="sendMessage()"></textarea>
				</div>
			</li>
		</ul>
	</div>
</div>