<!-- <div class="col-md-3"> -->
	<div class="col-md-12" style="padding:0px;">
		<ul class="chatUL" ng-class="activeChatUser == chatData.userId ? 'activeChat' : 'inactive'">
			
			<li class="chatheader" ng-click="setFocus()">
				<div class="row">
					<div class="col-md-10  h11" > {{userName}} ({{chatData.userId}})</div>
					<div class="col-md-1 fa fa-times closeIcon" ng-click="closeUserChat()"></div>
				</div>
			</li>
			<li class="productDetail" ng-click="setFocus()">
					<div class="col-md-3" ng-click="getProductDetail()">
						<img ng-src={{products[chatData.userId].imageUrl}} class="productImg"></img>
					</div>
					<div class="col-md-9 productDescription">
						<span class="detail">{{products[chatData.userId].description}}</span>
					</div>
				<div class="col-md-12">
					<div class="col-md-4 price">
						<small style="font-weight:600;">Price</small>
						<div class="priceDiv"> Rs. {{products[chatData.userId].price}}</div>
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-6 price">
						<small style="font-weight:600;">Discount</small>
						<div class="priceDiv"> Details N/A</div>
					</div>
				</div>
			</li>
			<li class="chatArea" ng-show="!showPromo && !showTemplates && !showProduct" ng-click="setFocus()" chat-scroll-down>
				<div style="margin-bottom:10px;">
					<div ng-repeat='message in messages'>
						<div class='bubble fr reporter bgblue', , ng-class="message.sender== chatData.userId ? 'user-mesg' : 'bubble--alt agent-mesg'" ng-if="!message.isProductDetails && !message.isCloseChatMesg">
		                	<div class='chat-name' ng-if="!message.isCloseChatMesg && !message.isPromoCode">
		                		{{message.txt}}
		            		</div>
		            		<div class='chat-name' ng-if="message.isPromoCode">
		                		{{getJsonParsedMesg(message.txt).PRMCODE.message}}
		            		</div>
		            		<span style='float:right;font-size:9px'>{{ getMesgState(message.state)}} {{parsedDate(message.sent_on)}}</span>
	        			</div>
	        			<div class='leftConversation clear' ng-if="message.isCloseChatMesg">
	                		User left the conversation
	            		</div>
        			</div>
    			<!-- <div class="linkBtn">
    				<a > show new messages</a>
    			</div> -->
				
			</li>
			<li class="chatArea" style="padding-top: 0px; border-top: solid 1px #00B8FF;" ng-show="showProduct">
					<div style="margin-bottom:10px;" align="center">
						<ul class="col-md-12" style="padding: 0px;">
							<li class="productArea">
								<i class=" closeIcon fa fa-times-circle pos" ng-click="closeWindow()"></i>
								<ul class="col-md-12 pt10n5  f13">
									<li ng-repeat="attr in productDetail.long_rich_desc">
										<div class="col-md-12 padd6 bb-blue" align="left">
											<span class="title">
											{{attr.title}} </span>
											<br/>
											<span>
												{{ attr.description}}
											</span>
										</div>
										<ul class="p0 col-md-12 bb-blue
										" ng-if="attr.attributes && attr.title == 'Description'">
										<li> 
											<div class="col-md-12 padd6" align="left">
												<span class="title"> Product Details
												</span>
											</div>
										</li>
										<li ng-repeat="(key, value) in attr.attributes">
											<div class="col-md-4 paddl" align="left">
													<span class="bold">{{key}} : </span>
												</div>
											<div class="col-md-8 paddr" align="left">
											<span>
											{{value}}
											</span>
										</div>
										</li>

										</ul>

										<ul class="p0 col-md-12
										" ng-if="attr.attributes && attr.title != 'Description'">
										<li ng-repeat="(key, value) in attr.attributes">
											<div class="col-md-12 padd6 bb-blue" align="left">
												<span class="title">
													{{key}} 
												</span>
												<br/>
												<span>
													{{value}}
												</span>
											</div>
										</li>
										</ul>
									</li>
									<li class="bb-blue">
										<div class="col-md-4 paddl" align="left">
											<span class="title">Actual Price : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											Rs {{ productDetail.actual_price}}
											</span>
										</div>
									</li >
									<li>
										<div class="col-md-4 paddl" align="left">
											<span class="title">Offer Price : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											Rs {{ productDetail.offer_price}}
											</span>
										</div>
									</li >
									<li ng-if="productDetail.promo_text">
										<div class="col-md-4 paddl" align="left">
											<span class="title">Promo Text : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											{{ productDetail.promo_text}}
											</span>
										</div>
									</li >
									
								</ul>
							</li>
						</ul>
					</div>
				</li>
			<li class="chatArea" ng-show="showPromo" >
					<div style="margin-bottom:10px;" align="center">
						<ul class="col-md-12">
							<li class="chatheader active-chat-header">
								<div align="center" class="col-md-10">
									Create Promotion Code
								</div>
								<i class="col-md-2 closeIcon fa fa-times-circle" ng-click="closeWindow()"></i>
							</li>
							<li class="promoArea">
								<ul class="col-md-12 pt10">
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Discount Value</label>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" checked value="percentage" ng-click="setPromoType('percentage')"/>
											<label>Percentage</label>
										</div>
										<div class="col-md-5 padd mt3" ng-show="promoType == 'percentage'"}}>
											<input type="text" class="col-md-8 p0" ng-model="percentCap">
											<i class="icon-percent"></i>
										</div>
									</li>
									<li  ng-show="promoType == 'percentage'">
										<div class="col-md-7 padd1"  align="left">
											<label>Upper Limit</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="capLimit"/>
											<i class="fa fa-inr"></i>
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" value="absolute" ng-click="setPromoType('absolute')"/>
											<label>Amount</label>
										</div>
										<div class="col-md-5 padd mt3" ng-show="promoType == 'absolute'">
											<input type="text" class="col-md-8 p0" ng-model="absoluteCap"/>
											<i class="fa fa-inr"></i>
										</div>
									</li>
									<!-- <li  ng-if="promoType == 'percentage'">
										<div class="col-md-7 padd1"  align="left">
											<label>Upper Limit</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="capLimit"/>
										</div>
									</li> -->
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Minimum Quantity</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="qty"/>
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<label>Validity</label>
										</div>
										<div class="col-md-5 padd mt3">
											<p>
												<input type="text" class="col-md-8 p0" ng-model="validDate" datepicker-popup="{{format}}" min-date="minDate" ng-required="true" close-text="Close" datepicker-options="dateOptions" is-open="opened" show-weeks="false" ng-click="open($event)">
											</p>
											
										</div>
									</li>
									<li>
										<div class="col-md-7 padd1"  align="left">
											<input type="checkbox" ng-model="isFreeShiping" ng-click="setFreeShip()">
											<label>Free Shipping</label>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li>
										<div class="col-md-12 mt10" align="center">
											<div class="promoBtn" ng-click="savePromo()">
						        				<a > Generate code</a>
						        			</div>
										</div>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
			</li>

			<!-- Message Templates -->
			<li class="" ng-show="showTemplates">
				<div align="center">
					<ul class="col-md-12 p0">
						<li class="chatheader active-chat-header">
							<div align="center" class="col-md-10">
								Default Message Templates
							</div>
							<i class="col-md-2 closeIcon fa fa-times-circle" ng-click="closeWindow()"></i>
						</li>
						<li class='templateArea' >
							<ul class="col-md-12 pt10">
								<li ng-repeat="(key, value) in templates" ng-click="submitTemplate(value.msg)">
									<div class="col-md-12 temp-li" align="left">
										{{value.msg}}
									</div>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
			</li>

			<!-- Bottom Text Area -->
			<li>
				<div class="chatText col-md-12">
					<div class="col-md-1 promoIcon" ng-click="openPromoWindow()" ng-show="!showPromo" title="Create Promocode">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-rupee fa-stack-1x fa-inverse"></i>
					</div>
					<div class="col-md-1 promoIcon-Open" ng-click="closeWindow()" ng-show="showPromo" title="Close Promocode">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa fa-rupee fa-stack-1x fa-inverse"></i>
					</div>
					<div class="col-md-9" style="padding-left:5px;">
						<textarea type="text" placehoder="send message" class="chatTextArea" ng-enter="submitMessage()" ng-model="agentMessage" ng-focus="setFocus()"></textarea>
					</div>
					<div class="col-md-1" ng-click="openDefaultTemplates()" title="Message Templates">
					  <i class="fa fa-envelope templateLink"></i>
					</div>
				</div>
			</li>
		</ul>
	</div>
<!-- </div> -->