<!-- <div class="col-md-3"> -->
	<div class="col-md-12" style="padding:0px;">
		<ul class="chatUL" ng-class="activeChatUser == chatData.threadId ? 'activeChat' : 'inactive'">
			
			<li class="chatheader" ng-click="setFocus()">
				<div class="row">
					<div class="col-md-10  h11 fw-bold" > {{userName}} ({{contact[chatData.threadId].userId}})</div>
					<div class="col-md-1  closeIcon" ng-click="closeUserChat()"></div>
				</div>
			</li>
			<li class="productDetail" ng-click="setFocus()">
					<div class="col-md-3" ng-click="getProductDetail()">
						<img ng-src={{products[chatData.threadId].imageUrl}} class="productImg"></img>
					</div>
					<div class="col-md-9 productDescription">
						<span class="detail">{{products[chatData.threadId].description}}</span>
					</div>
				<div class="col-md-12">
					<div class="col-md-4 price">
						<span class="f11 fw-semi-bold">Price</span>
						<div class="priceDiv"> Rs. {{products[chatData.threadId].price}}</div>
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-6 price">
						<span class="f11 fw-semi-bold">Discount</span>
						<div class="priceDiv"> Details N/A</div>
					</div>
				</div>
			</li>
			<li ng-show="showLoader">
				<div id="loader" class="initialLoader">
					<div>
						<i class="three-quarters"></i>
					</div>
				</div>
			</li>
			<li class="chatArea" ng-show="!showPromo && !showTemplates && !showProduct" ng-click="setFocus()" chat-scroll-down>
				<div style="margin-bottom:10px;">
					<!-- <span ng-click="loadHistory(chatData.userId)">Load Previous Message</span> -->
					<div ng-repeat='message in messages'>
						<div class='bubble fr reporter bgblue', , ng-class="message.sender== contact[chatData.threadId].userId ? 'user-mesg' : 'bubble--alt agent-mesg'" ng-if="!message.isProductDetails && !message.isCloseChatMesg">
		                	<div class='chat-name' ng-if="!message.isCloseChatMesg && !message.isPromoCode">
		                		{{message.txt}}
		            		</div>
		            		<div class='chat-name' ng-if="message.isPromoCode">
		                		{{getJsonParsedMesg(message.txt).PRMCODE.message}}
		            		</div>
		            		<span ng-if="message.sender != contact[chatData.threadId].userId" style='float:right;font-size:9px'>{{ getMesgState(message.state)}}</span>
	        			</div>
	        			<div align="center" class="clear messageTime" ng-if="message.sender != contact[chatData.threadId].userId" style='font-size:9px' >{{parsedDate(message.sent_on)}}</div>
	        			<div class='leftConversation clear' ng-if="message.isCloseChatMesg">
	                		User left the conversation
	            		</div>
        			</div>
    			<!-- <div class="linkBtn">
    				<a > show new messages</a>
    			</div> -->
				
			</li>
			<li class="" style="" ng-show="showProduct" ng-click="setFocus()">
					<div align="center">
						<ul class="col-md-12 p0">
							<li class="chatheader">
							<div align="center" class="col-md-10">
								Product Details
							</div>
							<div class="col-md-2 closeIcon" ng-click="closeWindow()"></div>
							</li>
							<li class="productArea">
								<ul class="col-md-12 pt10n5  f13">
									<li ng-repeat="attr in productDetail.long_rich_desc">
										<div class="col-md-12 padd6 bbblue" align="left">
											<span class="title">
											{{attr.title}} </span>
											<br/>
											<span>
												{{ attr.description}}
											</span>
										</div>
										<ul class="p0 col-md-12 bbblue
										" ng-if="attr.attributes && attr.title == 'Description'">
										<li> 
											<div class="col-md-12 padd6" align="left">
												<span class="title"> Product Details
												</span>
											</div>
										</li>
										<li ng-repeat="(key, value) in attr.attributes">
											<div class="col-md-4 paddl" align="left">
													<span class="bold">{{key}} : </span>
												</div>
											<div class="col-md-8 paddr" align="left">
											<span>
											{{value}}
											</span>
										</div>
										</li>

										</ul>

										<ul class="p0 col-md-12
										" ng-if="attr.attributes && attr.title != 'Description'">
										<li ng-repeat="(key, value) in attr.attributes">
											<div class="col-md-12 padd6 bbblue" align="left">
												<span class="title">
													{{key}} 
												</span>
												<br/>
												<span>
													{{value}}
												</span>
											</div>
										</li>
										</ul>
									</li>
									<li class="bbblue">
										<div class="col-md-4 paddl" align="left">
											<span class="title">Actual Price : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											Rs {{ productDetail.actual_price}}
											</span>
										</div>
									</li >
									<li>
										<div class="col-md-4 paddl" align="left">
											<span class="title">Offer Price : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											Rs {{ productDetail.offer_price}}
											</span>
										</div>
									</li >
									<li ng-if="productDetail.promo_text">
										<div class="col-md-4 paddl" align="left">
											<span class="title">Promo Text : </span>
										</div>
										<div class="col-md-8 paddr" align="left">
											<span>
											{{ productDetail.promo_text}}
											</span>
										</div>
									</li >
									
								</ul>
							</li>
						</ul>
					</div>
				</li>
			<li class="chatArea" ng-show="showPromo" ng-click="setFocus()" style="padding-top: 1px;" >
					<div align="center">
						<ul class="col-md-12 p0">
							<li class="chatheader">
								<div align="center" class="col-md-10">
									Create Promotion Code
								</div>
								<i class="col-md-2 closeIcon" ng-click="closeWindow()"></i>
							</li>
							<li class="promoArea" ng-class="promoError ? 'expand height399' : ''">
								<ul class="col-md-12 pt10">
									<li class="height35">
										<div class="col-md-7 padd1"  align="left">
											<span>Discount Value</span>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li class="height35">
										<div class="col-md-12 p0">
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" checked value="percentage" ng-click="setPromoType('percentage')"/>
											<span style="font-weight:400">Percentage</span>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="percentCap" input-type-number ng-disabled = "promoType == 'absolute'">
											<i class="icon-percent"></i>
										</div>
										<div ng-if="percentCapError" class="col-md-12 error" align="right"> {{percentCapError}}</div>
										</div>
									</li>
									<li class="bbblue">
										<div class="col-md-12 p0">
										<div class="col-md-7 padd1"  align="left">
											<input type="radio" name="promoType" value="absolute" ng-click="setPromoType('absolute')"/>
											<span style="font-weight:400">Amount</span>
										</div>
										<div class="col-md-5 padd mt3" >
											<input type="text" class="col-md-8 p0" ng-model="absoluteCap" input-type-number ng-disabled = "promoType == 'percentage'">
											<i class="fa fa-inr"></i>
										</div>
										<div ng-if="absoluteCapError" class="col-md-12 error" align="right"> {{absoluteCapError}}</div>
										</div>
									</li>
									<li class="bbblue" ng-show="promoType == 'percentage'">
										<div class="col-md-12 p0">
										<div class="col-md-7 padd1"  align="left">
											<span>Upper Limit</span>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="capLimit" input-type-number>
											<i class="fa fa-inr"></i>
										</div>
										<div  ng-if="capLimitError" class="col-md-12 error" align="right"> {{capLimitError}}</div>
										</div>
									</li>
									
									<!-- <li  ng-if="promoType == 'percentage'">
										<div class="col-md-7 padd1"  align="left">
											<label>Upper Limit</label>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="capLimit"/>
										</div>
									</li> -->
									<li class="bbblue">
										<div class="col-md-12 p0">
										<div class="col-md-7 padd1"  align="left">
											<span>Minimum Quantity</span>
										</div>
										<div class="col-md-5 padd mt3">
											<input type="text" class="col-md-8 p0" ng-model="qty" input-type-number/>
										</div>
										<div ng-if="qtyError" class="col-md-12 error" align="right"> {{qtyError}}</div>
										</div>
									</li>
									<li class="bbblue">
										<div class="col-md-12 p0">
										<div class="col-md-7 padd1"  align="left">
											<span>Validity</span>
										</div>
										<div class="col-md-5 padd mt3">
											<p>
												<input type="text" class="col-md-8 p0" ng-model="validDate" datepicker-popup="{{format}}" min-date="minDate" ng-required="true" close-text="Close" datepicker-options="dateOptions" is-open="opened" show-weeks="false" ng-click="open($event)" style="width: 80px;">
												<span class="cal">
                <button type="button" class="calendar" ng-click="open($event)"></button>
              </span>
											</p>
											
										</div>
										<div ng-if="validDateError" class="col-md-12 error" align="right"> {{validDateError}}</div>
										</div>
									</li>
									<li class="bbblue">
										<div class="col-md-7 padd1"  align="left">
											<input type="checkbox" ng-model="isFreeShiping" ng-click="setFreeShip()">
											<span>Free Shipping</span>
										</div>
										<div class="col-md-5 padd mt3">
											
										</div>
									</li>
									<li>
										<div class="col-md-12 mt10" align="center">
											<div class="promoBtn" ng-click="savePromo()">
						        				<span> Generate code</span>
						        			</div>
										</div>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
			</li>

			<!-- Message Templates -->
			<li class="" ng-show="showTemplates" ng-click="setFocus()">
				<div align="center">
					<ul class="col-md-12 p0">
						<li class="chatheader">
							<div align="center" class="col-md-10">
								Default Message Templates
							</div>
							<div class="col-md-2 closeIcon" ng-click="closeWindow()"></div>
						</li>
						<li class='templateArea' >
							<ul class="col-md-12 pt10">
								<li ng-repeat="(key, value) in templates" ng-click="submitTemplate(value.msg)" class="templateli">
									<div class="col-md-12 temp-li" align="left">
										{{value.msg}}
									</div>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
			</li>

			<!-- Message Templates -->
			

			<!-- Bottom Text Area -->
			<li ng-click="setFocus()">
				<div class="chatText col-md-12">
					<div class="col-md-1 p0 promoIcon" ng-click="openPromoWindow()" ng-if="!showPromo" title="Create Promocode">
					</div>
					<div class="col-md-1 p0 promoIcon-Open" ng-click="closeWindow()" ng-if="showPromo" title="Close Promocode">
					</div>
					<div class="col-md-8 p0">
						<textarea type="text" placeholder="Send a message" class="chatTextArea" ng-enter="submitMessage()" ng-model="agentMessage" ng-focus="setFocus()" ng-disabled="contact[chatData.userId].chatState =='closed'"></textarea>
					</div>
					<div class="col-md-1 p0 messageIcon" ng-click="openDefaultTemplates()" ng-if="!showTemplates" title="Message Templates">
					  <!-- <i class="fa fa-envelope templateLink"></i> -->
					</div>
					<div class="col-md-1 p0 messageIcon-open" ng-click="openDefaultTemplates()" ng-if="showTemplates" title="Close Message Templates">
					  <!-- <i class="fa fa-envelope templateLink"></i> -->
					</div>
					
				</div>
			</li>
		</ul>
	</div>
<!-- </div> -->