<div ng-controller='ChatCtrl' class="mt30">
	<div class="col-md-3">
		<div class="col-md-11">
			<ul class="roaster">
			<li>
				<div class="col-md-10 p0 active">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7 green">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>has left chat</span>
				</div>
				<div class="circle col-md-2 ml7 red	">X</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'></span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'></span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
			<li>
				<div class="col-md-10 p0">Guest AZ001
					<br/>
					<span class='italicFont'>...is typing</span>
				</div>
				<div class="circle col-md-2 ml7">3</div>
			</li>
		</ul>
		<div align="center">
			<div class="mrpText">Rs 1894 with no Discount</div>
		</div>
		<ul class="discount">
			<li>
				<div class="col-md-8 padd">
					<input type="radio" name="percentage" value="0"/>
					<label>PERCENTAGE to INR</label>
				</div>
				<div class="col-md-4 padd mt3">
					<input type="text" style="width:45px;">
				</div>
			</li>
			<li>
				<div class="col-md-8 padd">
					<input type="radio" name="percentage" value="0"/>
					<label>INR to PERCENTAGE</label>
				</div>
				<div class="col-md-4 padd mt3">
					<input type="text" style="width:45px;">
				</div>
			</li>
			<li>
				<div class="col-md-6 padd">
					<label class="lbl">Discount (Rs)</label>
					<br/>
					<label class="f12">95.45</label>
				</div>
				<div class="col-md-6 padd">
					<label class="lbl">Final Price</label>
					<br/>
					<label class="f12">Rs 2995.45</label>
				</div>
			</li>
		</ul>
		</div>
		
	</div>
	<div class="col-md-3">
		<div class="col-md-12" style="padding:0px;">
			<ul class="chatUL">
				<li class="chatheader active1">
					<div>
						<div class="col-md-1"></div>
						<div class="col-md-6  h11" > Guest AZ01</div>
						<div class="col-md-1 "></div>
					</div>
				</li>
				<li class="productdetail">
					<div class="col-md-4"><img src="" class="img"></img></div>
					<div class="col-md-8" style="padding:10px 0 0 0;">
						<span class="detail">Panasonic RP-HJ201E-K In-the-ear Weired Headphone</span>
						<div class="col-md-4 price">
							<span>Price</span>
							<div class="priceDiv"> Rs. 95.45</div>
						</div>
						<div class="col-md-4 disc">
							<span>Discount</span>
							<div class="discDiv"> None</div>
						</div>
					</div>
				</li>
				<li class="chatArea" >
					<div style="margin-bottom:10px;">
						<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>


	                	<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello I m here
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello u th?	
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>
	        			
					</div>
                	
        			<div class="linkBtn">
        				<a > show new messages</a>
        			</div>
					
				</li>
				<li>
					<div class="chatText">
						<textarea type="text" placehoder="send message" class="chatTextArea"></textarea>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- second chat window -->
	<div class="col-md-3">
		<div class="col-md-12" style="padding:0px;">
			<ul class="chatUL">
				<li class="chatheader">
					<div>
						<div class="col-md-1 cross"></div>
						<div class="col-md-6 h11" > Guest AZ01</div>
						<div class="col-md-1 cross"></div>
					</div>
				</li>
				<li class="productdetail">
					<div class="col-md-4"><img src="" class="img"></img></div>
					<div class="col-md-8" style="padding:10px 0 0 0;">
						<span class="detail">Panasonic RP-HJ201E-K In-the-ear Weired Headphone</span>
						<div class="col-md-4 price">
							<span>Price</span>
							<div class="priceDiv"> Rs. 95.45</div>
						</div>
						<div class="col-md-4 disc">
							<span>Discount</span>
							<div class="discDiv"> None</div>
						</div>
					</div>
				</li>
				<li class="chatArea" >
					<div style="margin-bottom:10px;">
						<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>


	                	<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello I m here
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello u th?	
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>
	        			
					</div>
                	
        			<div class="linkBtn">
        				<a > show new messages</a>
        			</div>
					
				</li>
				<li>
					<div class="chatText">
						<textarea type="text" placehoder="send message" class="chatTextArea"></textarea>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- Third chat window -->
	<div class="col-md-3">
		<div class="col-md-12" style="padding:0px;">
			<ul class="chatUL">
				<li class="chatheader">
					<div>
						<div class="col-md-1 cross"></div>
						<div class="col-md-6 h11" > Guest AZ01</div>
						<div class="col-md-1 cross"></div>
					</div>
				</li>
				<li class="productdetail">
					<div class="col-md-4"><img src="" class="img"></img></div>
					<div class="col-md-8" style="padding:10px 0 0 0;">
						<span class="detail">Panasonic RP-HJ201E-K In-the-ear Weired Headphone</span>
						<div class="col-md-4 price">
							<span>Price</span>
							<div class="priceDiv"> Rs. 95.45</div>
						</div>
						<div class="col-md-4 disc">
							<span>Discount</span>
							<div class="discDiv"> None</div>
						</div>
					</div>
				</li>
				<li class="chatArea" >
					<div style="margin-bottom:10px;">
						<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>


	                	<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello I m here
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fl reporter bgblue them'>
	                	<div class='chat-name'>
	                		Hello u th?	
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>

	        			<div class='chat-message fr reporter bgblue me'>
	                	<div class='chat-name'>
	                		Hi
	            		</div>
	            			<span style='float:right;font-size:9px'>09:08</span>
	        			</div>
	        			
					</div>
                	
        			<div class="linkBtn">
        				<a > show new messages</a>
        			</div>
					
				</li>
				<li>
					<div class="chatText">
						<textarea type="text" placehoder="send message" class="chatTextArea"></textarea>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>