<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paytm Marketplace Bargain Panel</title>

    <!-- Bootstrap CSS -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet">
    
    <!-- Main CSS -->
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="span4 center account">
      <div>
        <div><img src="assets/images/login-home.png">
          <h1 class="font24 gray-font">Welcome</h1>
          <p class="B-padd20 font12"></p>Welcome to the Paytm Marketplace Bargain Interface. Please login to chat with the customers
        </div>
        <form class="form-signin T-marg20">
          <button type="submit" onclick="javascript:window.location.href='/authorize'; return false;" class="btn btn-large btn-primary"> Click Here to Login</button>
        </form>
      </div>
    </div>
  </body>
</html>