script#bargainChat-template(type='text/template')
    div#bargainChatAlert-div
    div#infoHeader.agentDisconnected
        table(cellspacing='10', style='width: 100%;font-weight: bold;margin:5px;font-size: 17px;')
          tr(style='width: 100%')
            td(style='width: 18%;text-align: right')  Logged User :
            td(style='width: 40%;text-align: left')
              label#loggedUser  Information not available 
          tr(style='width: 100%')
            td(style='width: 8%;text-align: right') Status :
            td(style='width: 40%;text-align: left')
              label#loginStatus  Information not available 
              label#activityStatus
        table.hidden(cellspacing='10', style='width: 100%;background-color:#e6e6e6;font-weight: bold;margin:5px;font-size: 17px;')
          tr(style='width: 100%')
            td(style='width: 8%;text-align: right') User 1:
            td(style='width: 40%;text-align: left')
              input.user1(type = "text")
            td(style='width: 8%;text-align: right') User 2:
            td(style='width: 40%;text-align: left')
              input.user2(type = "text")
            td(style='width: 8%;text-align: right')
              a.dummyHistoryLink(href="#") Submit

    #outer.divrow.ml0
        #chatListDiv.span3n.gry-bg.curve.pad 
          h2.gry-txt Conversation History
          .clear.wht-line
        #content.span55n.curve.span-center.L-marg8
        #roster-area(style='background-color:#F0F1F2;height:100%;width:25%;float:left;display:none')
            ul(style='list-style: none;padding-left: 0; margin-left:4px;')
    

    .modal.fade(id="productDetail" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button#closeModal(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              
            h3.modal-title
              |Product Detail
          .modal-body.all-padd#itemBody
    
    .modal.fade(id="promoCodeModal" tabindex="-1" role="dialog" aria-labelledby="promoCodeModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button#closeModal(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              
            h3.modal-title
              |Create Promo Code
          .modal-body1.all-padd
            form.form-horizontal.font13.T-marg20
              .control-group
                label.control-label Value 
                .controls
                  input.L-marg8(type='radio', name='promoType', value='percentage', style='margin-right: 10px;', checked='true')
                  | Percentage
                  input.L-marg8.numeric(type="text", id="percentageText")
                  span.L-pad16.error-font.error#percentageTextError Please enter value
              .control-group
                
                .controls
                  | Upper Limit
                  input.L-marg8.numeric(type="text",  id="capText")
                  span.L-pad16.error-font.error#capTextError Please enter value
                
              .control-group
                 
                .controls
                  input.L-marg8(type='radio', name='promoType', value='absolute', style='margin-right: 10px;')
                  | Fixed Amount
                  input.L-marg8.numeric(type="text",  id="absoluteText")
                  span.L-pad16.error-font.error#absoluteTextError Please enter value

              .control-group
                .controls
                  input.L-marg8(type='radio', name='promoType', value='freeshipping', style='margin-right: 10px;')
                  | Free Shipping

              .control-group#freeShipDiv
                .controls
                  input.L-marg8(type='checkbox', name='promoType', value='freeshipping', style='margin-right: 10px;')
                  | Add Free Shipping

              .control-group
                label.control-label  Message 
                .controls
                  input.L-marg8(type='text', id="successText")
              .control-group
                label.control-label Minimum Quality 
                .controls
                  input.L-marg8.numeric(type='text', id="minQtyText")
              .control-group
                label.control-label Validity
                .controls
                  div.L-marg8.input-append#promoValidDate
                    input.input-medium(type='text', placeholder='DD/MM/YY hh:mm', data-format="dd/MM/yyyy HH:mm PP")#promoValidDateText
                    span.add-on
                      i(data-time-icon="icon-time", data-date-icon="icon-calendar")

            
          .modal-footer
            input(type='hidden', id="chatTextBoxId")
            button#createPromo(type="button" class="btn btn-primary")
              |Create Promo


    .modal.fade(id="chatHistoryModal" tabindex="-1" role="dialog" aria-labelledby="promoCodeModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button#closeModal(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              
            h3.modal-title
              |Chat history
          .modal-body1.all-padd
            .control-group#chatDump(style="height: 500px;overflow-y: auto;overflow-x: auto;")
              table#sortTableExample.table.padd.table.table-striped.font13.table-bordered1.text-center(style='width: 100%;font-size:12px; font-weight:500;')
                thead
                  tr.rowlink.center
                    th Conversation
                    th Sender
                    th Receiver
                    th State
                    th sent_on
                    th read_on
                    th last_ts
                    th MID
                tbody#chatTable(data-provides='rowlink')
            

            
          .modal-footer