// Profile Bar Start
script#header-template(type='text/template')
  h1#tabHeading.pull-left.span4.semibold Bargain Chat 
  .pull-right.right-marg20
      .btn-group
          button.btn.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown')
            | {{=ChatPanelUser.loginName}}
            span.caret
          ul.dropdown-menu.dropdown-menu1
            li
              a("javascript:void(0)").adminlogout Log out
  .clear  
// Profile Bar End