//left Navigation bar
script#leftNav-template(type='text/template')
  .tabbable.tabs-left
    ul.logo
      a(href='#')
        img(src='images/market-place-logo.png')
    ul.nav.nav-tabs(data-tabs='tabs')
      li.active
        a(href='#bargainChat', data-toggle='tab')
          i.icon-white.icon-size
            img(src='images/icon/Bargain-Chat.png')
          | Bargain Chat