
script#merchantSearch-template(type='text/template')
	#results-bar.T-marg10.L-marg3
		.edit-box
			h1 Search for a Merchant
			form
				.B-padd20
					input.T-marg10(type='text', placeholder='Merchant Name /ID')#merchantIdText
					a#searchMerchant.btn(href='#')  Search
					
	div(style='height:auto; overflow:auto;')
		table.top-marg10.table.padd.table-striped.L-marg15.table-bordered1.text-center.hidden#tblMerchant(style="width: 97%")
			thead
				tr.rowlink
					th.header(style='border-left:none;')
						b Merchant ID
					th.header
						b Merchant Name
					th.header(style='border-right:none;')
						b View
			tbody.font14(data-provides='rowlink ')#merchantTableBody					
						
		.clear






script#catalogRow-template(type='text/template')
	tr.rowlink
		td {{=id}}
		td {{=name}}
		td
			a.viewCatalogLink( data-value='{"id": "{{=id}}", "name" : "{{=name}}"}')
				| View Catalog

script#orderRow-template(type='text/template')
	tr.rowlink
		td {{=id}}
		td {{=name}}
		td
			a.viewOrderLink( data-value='{"id": "{{=id}}", "name" : "{{=name}}"}')
				| View Orders
