<div ng-if='activeChatUser && activeChatUser != ""'>
	<div align="center">
		<div class="mrpText">Rs {{products[activeChatUser].price}} with no Discount</div>
	</div>
	<ul class="discount">
		<li>
			<div class="col-md-7 padd">
				<input type="radio" name="discountType" value="percentage" ng-model="discountType" checked/>
				<label>% to INR</label>
			</div>
			<div class="col-md-5 padd mt3">
				<input type="text" style="width:45px;" ng-model="discountPC" input-type-number>
				<label>%</label>
			</div>
		</li>
		<li>
			<div class="col-md-7 padd">
				<input type="radio" name="discountType" value="absolute" ng-model="discountType"/>
				<label>INR to %</label>
			</div>
			<div class="col-md-5 padd mt3">
				<input type="text" style="width:45px;" ng-model="discountABS" input-type-number>
				<label>Rs</label>
			</div>
		</li>
		<li>
			<div class="col-md-6 padd" ng-show="discountType == 'percentage'">
				<label class="lbl">Discount (Rs)</label>
				<br/>
				<label class="f14 bold-x">{{roundOff((products[activeChatUser].price * discountPC)/100)}}</label>
			</div>
			<div class="col-md-6 padd" ng-show="discountType == 'absolute'">
				<label class="lbl">Discount (%)</label>
				<br/>
				<label class="f14 bold-x">{{roundOff((discountABS/products[activeChatUser].price) * 100)}}</label>
			</div>
			<div class="col-md-6 padd" ng-show="discountType == 'percentage'">
				<label class="lbl">Final Price</label>
				<br/>
				<label class="f14 bold-x">Rs {{roundOff(products[activeChatUser].price - ((products[activeChatUser].price * discountPC)/100))}} </label>
			</div>
			<div class="col-md-6 padd"  ng-show="discountType == 'absolute'">
				<label class="lbl">Final Price</label>
				<br/>
				<label class="f14 bold-x">Rs {{roundOff(products[activeChatUser].price - discountABS)}} </label>
			</div>
		</li>
	</ul>
</div>