html(lang='en')
	head
		title Paytm Marketplace
		!= css('main')
	body.wel-bod
	.span4.center.account
		.col-sm-6.col-md-4.col-md-offset-4
			div
				img.profile-img(src='images/login-home.png')
				h1.font24.gray-font Welcome
				p.B-padd20.font12
				| Welcome to the Paytm marketplace interface. Please login to manage your orders and catalog
			form.form-signin.T-marg20
				button.btn.btn-large.btn-primary(type='submit', onclick="javascript:window.location.href='/authorize'; return false;")  Click Here to Login