<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paytm Marketplace</title>
  </head>
  <body class="wel-bod"></body>
  <div class="span4 center account">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div><img src="images/login-home.png" class="profile-img">
        <h1 class="font24 gray-font">Welcome</h1>
        <p class="B-padd20 font12"></p>Welcome to the Paytm marketplace interface. Please login to manage your orders and catalog
      </div>
      <form class="form-signin T-marg20">
        <button type="submit" onclick="javascript:window.location.href='/authorize'; return false;" class="btn btn-large btn-primary"> Click Here to Login</button>
      </form>
    </div>
  </div>
</html>